profiles {
    local {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
    }

    aws_batch {
        process.executor = 'awsbatch'
        aws.region = 'us-east-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

