profiles {
    local {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
    }

    aws_batch {
        process.executor = 'awsbatch'
        aws.region = 'us-east-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    slurm {
        executor {
            name = 'slurm'
            queueSize = 3  // this will run 3 concurrent jobs on the cluster
        }
        process.clusterOptions = '--partition=wheeler_lab_cpu'
        docker.enabled = true

/*      // The following section only works on Docker version 20.10.0
        // In the case that a docker image on cluster compute nodes is
        // out of date, this can be used to force an image update on
        // all compute nodes.
        docker {
            runOptions = '--pull "missing"'
        }
*/
    }
}

