profiles {
    local {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        process.container = 'traviswheelerlab/psss-harness:latest'
        docker.enabled = true
    }

    aws_batch {
        process.executor = 'awsbatch'
        aws.region = 'us-east-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    gscc {
        process.executor = 'slurm'
        process.queue = '--partition=wheeler_lab_small_cpu'
        process.clusterOptions = '--partition=wheeler_lab_small_cpu'
        docker.enabled = true
        process.container = 'traviswheelerlab/psss-harness'
    }
}

