profiles {
    local {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        process.container = 'traviswheelerlab/psss-harness-test:latest'
        docker.enabled = true
    }

    aws_batch {
        process.executor = 'awsbatch'
        process.container = 'traviswheelerlab/psss-harness-test:latest'
        process.queue = 'psss-benchmarks-queue'

        aws.region = 'us-east-1'
        aws.batch.cliPath = '/usr/local/bin/aws'
    }
}

